@import "../../../abstracts/variables_home.scss";

//portfolio-main
.portfolio-main {
  padding-top: 120px;
  padding-bottom: 120px;
  .block {
    position: relative;
  }
}
.portfolio.portfolio__title {
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.02em;
  color: $Text_Heading;
}
.portfolio__title--bg {
  background: linear-gradient(185.78deg, #61dcdf 0.38%, #886cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.portfolio__text {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -1px;
  color: $Action_Blue;
  padding-top: 25px;
}

.portfolio__top-bg {
  width: 100%;
  height: 784px;
  background: #d9d9d9;
  opacity: 0.4;
  position: absolute;
  top: -43px;
}

// grid

.portfolio__image {
  display: grid;

  grid-template-columns: 470px calc(200px - 30px) 470px;
  grid-gap: 50px 30px;
}
.portfolio__item:first-child {
  grid-column: 1 / span 2;
}
.portfolio__item:last-child {
  grid-column: 2 / span 2;
}
.portfolio__item--image {
  width: 100%;

  object-fit: cover;
}
.portfolio__item {
  height: 623px;
}
.portfolio__text {
}
