.cta__title {
  padding-bottom: 90px;
}

.cta-main {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
  padding-top: 100px;
}
.cta {
  .cta__page-home {
    padding-top: 380px;
  }
}
.cta__button {
  text-align: center;
}

@media (max-width: 767px) {
  .cta {
    .cta__title {
      .global {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
