@import "../../../abstracts/variables_home.scss";
.products__subject {
  padding-top: 100px;
  padding-bottom: 90px;
  display: flex;
  gap: 130px;
}
//------------slider--------------
.slider {
  max-width: 570px;
  width: 100%;
}
.slider__view {
  margin-bottom: 30px;
  max-width: 570px;
  max-height: 570px;
  //img
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider__option--item {
  max-width: 120px;
  max-height: 120px;
  margin-right: 30px;
  //img
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
//------------content--------------
.content {
  max-width: 470px;
  width: 100%;
}

.content__header--title {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: -0.02em;
  color: $Text_Heading;
  padding-bottom: 25px;
}
.content__header--price {
  font-family: $font-DMSans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.3px;
  color: $Text_text;
  padding-bottom: 40px;
}
.content__header--star {
  padding-bottom: 45px;
}

.content__header--desc {
  font-family: $font-DMSans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.3px;
  color: $Text_text;
  padding-bottom: 15px;
}

.content__header--more {
  font-family: $font-DMSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $Action_Blue;
}

.sort {
  padding-top: 35px;
}
.sort__title {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: $Text_Heading;
  padding-bottom: 30px;
}
.sort__color {
  display: flex;
  gap: 15px;
}
.sort--size {
  width: 40px;
  height: 40px;
  border: 1px solid #e7e5ea;
  border-radius: 100rem;
}
.sort__color--light {
  background: $BG_Light_Alt;
}
.sort__color--gray {
  background: $BG_Gray;
}
.sort__color--pink {
  background: #f2e0dc;
}

.content__body--cart {
  padding-top: 40px;
}

.cart__quantity {
  width: 98px;
  height: 48px;
  border: 1px solid #e7e5ea;
  border-radius: 5px;
  align-items: center;
}
.cart__quantity--number {
  font-family: $font-DMSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: $Text_text;
  opacity: 0.7;
  margin-right: 35px;
  padding-left: 30px;
}
.cart__button {
  margin-left: 10px;
}

.content__body--contact {
  display: flex;
  padding-top: 30px;
}
.heart {
  padding-right: 40px;
  margin-right: 40px;
  border-right: 1px solid #e7e5ea;
}
.social-icon {
  display: flex;
  gap: 25px;
}
// --------------content__footer-----------
.content__footer {
  padding-top: 50px;
}
.info {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: $Text_Heading;
  display: flex;
  gap: 20px;
  border-top: 1px solid #e7e5ea;
  border-bottom: 1px solid #e7e5ea;
  padding-top: 13px;
  padding-bottom: 20px;
}

.info__item--textcolor {
  color: $Action_Blue;
}

//------------description--------------
.description__menu {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: $Text_Heading;
  padding-bottom: 30px;
}
.menu-desc {
  display: flex;
  padding: 0 286px;
}
.menu-desc__item {
  a {
    text-decoration: none;
    color: $Text_Heading;
  }
}

.description__content {
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 2px solid #e7e5ea;
  border-bottom: 2px solid #e7e5ea;
}
.description__content--item {
  font-family: $font-DMSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $Text_text;
}
