@import "../../../abstracts/variables_home.scss";
//footer
.footer {
  background-color: $BG_Gray;
}

//footer-main
.footer-main {
  padding-top: 105px;
  .row {
    margin: 0;
    .col-8 {
      padding: 0;
    }
    .col-4 {
      padding: 0;
    }
  }
}
//footer__logo
.footer__logo {
  img {
    width: 100%;
    max-height: 45px;
    height: 100%;
  }
}

//footer__link
.footer__link {
  .row {
    margin: 0;
    margin-right: -30px;
    .col-3 {
      padding: 0;
      margin-right: 30px;
      max-width: calc(25% - 30px);
    }
  }
}
.footer__list.footer__list--header {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -1px;
  color: $Text_white;
  padding-bottom: 20px;
}
.footer__list.footer__list--body {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  /* Text/Text Gray */
  color: $Text_Gray;
  li {
    padding-bottom: 10px;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $Text_Gray;
  }
}

.footer__list.footer__list--body a:hover {
  color: $Action_Blue;
}

.footer__sub--title {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -1px;
  /* Text/Text White */
  color: $Text_white;
}
.footer__sub--desc,
.footer__sub--text {
  font-family: $font-DMSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* Text/Text Gray */
  color: $Text_Gray;
}

//footer-end
.footer-end {
  padding-top: 100px;
  padding-bottom: 40px;
}
.footer_line {
  width: 100%;
  height: 1px;
  background-color: $Text_text;
  opacity: 0.3;
}

.footer-end--desc {
  padding-top: 40px;
  font-family: $font-DMSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $Text_Gray;
}
.footer-end--icon {
  padding-top: 40px;
}
