@import "../../../abstracts/variables_home.scss";

//logo-main
.logo-main {
  padding-top: 120px;
  padding-left: 128px;
  padding-right: 128px;
}
//logo__list
.logo__list {
  padding-top: 80px;
  padding-bottom: 120px;
}

.logo__title {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */

  text-align: center;
  letter-spacing: -1px;

  /* Text color/black */

  color: $Text_black;
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    .logo-main {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .logo {
    .logo-main {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .logo__list--item {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .logo-main {
    padding-left: 0;
    padding-right: 0;
  }
}
