//color

$BG_home: #ffffff;
$BG_Light_Alt: #f7f5f1;
$BG_Gray: #292f3a;

$Text_Heading: #2d3958;
$Text_text: #7b88a8;
$Text_black: #000000;
$Text_white: #ffffff;

$Text_Per: #696871;
$Text_Gray: #e7e5ea;
$Purple_Gradient: linear-gradient(185.78deg, #61dcdf 0.38%, #886cff 100%);
$Primary_black: #120f1f;
$Action_Purple: #886cff;
$Action_Blue: #4f77ff;
$Action_Orange: #ff9513;
$Black-200: #788190;

$Main_Blue: #4c6fff;

// font GG
$font-Outfit: "Outfit", sans-serif;
$font-DMSans: "DM Sans", sans-serif;

// dim
$page-max: 1920px;

//--------------page_portfolio_V1.0--------
