@import "../../../abstracts/variables_home.scss";

.hero-main__page {
  font-family: $font-Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.hero-main__page-bold {
  color: $Text_Heading;
}
.hero-main__page-light {
  color: $Text_text;
}
